<mat-card>
  <mat-card-title>User Info</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span>First Name: </span> {{userSettings.user.firstName}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Last Name: </span>{{userSettings.user.lastName}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>Email: </span>{{userSettings.user.email}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>University: </span>{{userSettings.user.university}}
      </mat-list-item>
      <mat-list-item>
        <span>Faculty: </span>{{userSettings.user.faculty}}
      </mat-list-item>
    </mat-list>

  </mat-card-content>
  <mat-card-footer>
  <button mat-raised-button class="button--primary" (click)="editUserInfo()">Edit info</button>
  <button mat-raised-button class="button--primary" (click) = "changeUserPassword()">Change Password</button>
  </mat-card-footer>

</mat-card>
