<div fxLayout="column" fxLayoutAlign="center center">
  <div  fxLayout="column" fxLayoutAlign="start start" class="admin-container">
    <button mat-raised-button class="add-admin-button" (click)="addAdmin()">Add Admin</button>
    <mat-list style="margin-top: 0px !important;">
      <mat-list-item>
        <span class="admin-email">Email</span>
        <span class="admin-fname">FirstName</span>
        <span class="admin-lname">LastName</span>
        <span class="admin-university">University</span>
        <span class="admin-faculty">Faculty</span>
      </mat-list-item>
      <app-admin (userListChanged)="onUserListChanged()" [admin]="admin"
        *ngFor="let admin of admins"></app-admin>
    </mat-list>
  </div>
</div>
