<mat-card  fxLayout="column" fxLayoutAlign="center center">
  <mat-card-title>User Email Prefferences</mat-card-title>
  <mat-card-content>
    <p><mat-checkbox>Send emails on new posts.</mat-checkbox></p>
    <p><mat-checkbox>Send emails on new comments.</mat-checkbox></p>
    <p><mat-checkbox>Send emails on idk.</mat-checkbox></p>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" (click)="save()" style="margin:10px">Save</button>
  </mat-card-footer>
</mat-card>
