<div fxLayout="column" fxLayoutAlign="center center" id="edit-user-div">
  <mat-card id="edit-user-mat-card">

    <mat-card-title>Reset Password</mat-card-title>
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordSubmit(resetPasswordForm)">
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            New password
          </mat-label>
          <input  matInput #newPassword="ngModel" name="newPassword" ngModel required [type] = "hide ? 'password':'text'" minlength="3" maxlength="25"/>
          <i class = "material-icons" matSuffix (click) = "hide = !hide">
            {{hide ? 'visibility':'visibility_off'}}
          </i>
          <mat-error *ngIf="newPassword.errors?.minlength"> Password must be at least 3 characters long.</mat-error>
          <mat-error *ngIf="newPassword.errors?.maxLength"> Password must be at most 25 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Repeat New password
          </mat-label>
          <input  matInput #repeatNewPassword="ngModel" name="repeatNewPassword" ngModel required [type] = "hideNew ? 'password':'text'" minlength="3" maxlength="25" pattern="{{ newPassword.value }}"/>
          <i class = "material-icons" matSuffix (click) = "hideNew = !hideNew">
            {{hideNew ? 'visibility':'visibility_off'}}
          </i>
          <mat-error *ngIf="repeatNewPassword.errors?.minlength"> Password must be at least 3 characters long.</mat-error>
          <mat-error *ngIf="repeatNewPassword.errors?.maxLength"> Password must be at most 25 characters long.</mat-error>
          <mat-error *ngIf="repeatNewPassword.errors?.pattern"> Password & Confirm Password does not match.</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <!--      butoane-->
        <button mat-raised-button class="button--primary" type="submit"> Save</button>
        <button mat-raised-button class="button--primary" (click)="close()" type="button"> Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
