<div fxLayout="column" fxLayoutAlign="center center" id="edit-user-div">
  <mat-card id="edit-user-mat-card">

    <mat-card-title>Reset Password</mat-card-title>
    <form #resetPasswordForm="ngForm" (ngSubmit)="resetPasswordSubmit(resetPasswordForm)">
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            New password
          </mat-label>
          <input matInput #newPassword="ngModel" name="newPassword" ngModel required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Repeat New password
          </mat-label>
          <input matInput #repeatNewPassword="ngModel" name="repeatNewPassword" ngModel required/>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <!--      butoane-->
        <button mat-raised-button color="primary" type="submit"> Save</button>
        <button mat-raised-button color="primary" (click)="close()" type="button"> Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
