<mat-card class="post-card" [ngClass]="{'userClass': (post.postType==userType),
            'moderatorClass': (post.postType==moderatorType),
            'adminClass':(post.postType==adminType)}">
  <mat-card-title >{{post.title}}</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-subtitle style="display:inline">
    <div>
      <span style="float: left;">Author: {{post.email}}</span>
      <span style="float: right;margin-top:-60px;">Date: {{datePost}}</span>
    </div>
    <br>
  </mat-card-subtitle>
  <mat-card-content style="margin-left: 20px; margin-right: 80px; ">
    <br>
    {{post.text}}
  </mat-card-content>
  <br>
  <mat-card-footer>

    <mat-accordion #accordion="matAccordion" multi="true">
      <!--      [expanded]="this.blockRefreshService.getBlockRefresh()"   si era cu click in loc de expandedChange-->

      <button  class="add-comment" color="white" (click)="addCommentClick()"
               [ngClass]="{'add-comment-expanded': (this.showCommentList)}">Add Comment</button>
      <mat-expansion-panel (expandedChange)="blockRefreshChangeValue()" >

        <mat-expansion-panel-header style="width:300px" (click)="showCommentsClick()" >
          <mat-panel-title (click)="getComments()" >
            Comments
          </mat-panel-title>
          <!--          <button (click)="openCreateCommentComponent()">-->
          <!--            Create Comment-->
          <!--          </button>-->
          <mat-panel-description>
            {{comments.length}} - comments
          </mat-panel-description>

        </mat-expansion-panel-header>

        <!--        *ngIf="openCreateComment"-->
        <app-comment-list [commentsTest]="comments" *ngIf="showCommentList"></app-comment-list>
      </mat-expansion-panel>
      <app-create-comment (refreshComments)="refreshComments()" [postId]="post.id" *ngIf="showCreateComment"></app-create-comment>

    </mat-accordion>
  </mat-card-footer>
</mat-card>

<!--<div class="post-div">-->
<!--  <div class="panel-heading post-heading">-->
<!--    <span class="font-roboto post-title">{{post.title}}</span>-->
<!--  </div>-->

<!--  <div class="panel-body">-->
<!--    <br />-->
<!--    <div class="post-content">-->
<!--      {{post.text}}-->
<!--      test-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="post-meta">-->
<!--      <span class="">-->
<!--          <i class="glyphicon glyphicon-time"></i>-->
<!--          {{datePost}}-->
<!--      </span>-->
<!--    <div>-->
<!--      <i class="glyphicon glyphicon-bookmark"></i>-->
<!--      Sticky:-->
<!--      <mat-slide-toggle></mat-slide-toggle>-->
<!--    </div>-->
<!--    <div>-->
<!--      <i class="glyphicon glyphicon-user"></i>-->
<!--      <strong> {{post.email}} </strong>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div style="height: 30px"></div>-->
