<!--<div class="name-post-text">
  <p>Marian Popescu</p>
</div>
<div class="subject-post-text">
  <p style="background: brown">Robotica</p>
</div>

<div class="post-content">
  <p>Acesta este continutul primei postari</p>
</div>-->
<div class="post-div">
  <div class="panel-heading post-heading">
    <span class="font-roboto post-title">{{post.title}}</span>
  </div>

  <div class="panel-body">
    <br />
    <div class="post-content">
      {{post.text}}
      test
    </div>
  </div>

  <div class="post-meta">
      <span class="">
          <i class="glyphicon glyphicon-time"></i>
          {{datePost}}
      </span>
    <div>
      <i class="glyphicon glyphicon-bookmark"></i>
      Sticky:
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div>
      <i class="glyphicon glyphicon-user"></i>
      <strong> {{post.email}} </strong>
    </div>
  </div>
</div>
<div style="height: 30px"></div>
