<!--<div class="name-post-text">
  <p>Marian Popescu</p>
</div>
<div class="subject-post-text">
  <p style="background: brown">Robotica</p>
</div>

<div class="post-content">
  <p>Acesta este continutul primei postari</p>
</div>-->
<div class="post-div">
  <div class="panel-heading post-heading">
    <span class="font-roboto post-title">Post title</span>
  </div>

  <div class="panel-body">
    <br />
    <div class="post-content">
      Aici se afla continutul postarilor
    </div>
  </div>

  <div class="post-meta">
      <span class="">
          <i class="glyphicon glyphicon-time"></i>
          DD/MM/YYYY
      </span>
    <div>
      <i class="glyphicon glyphicon-bookmark"></i>
      Sticky:
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div>
      <i class="glyphicon glyphicon-user"></i>
      <strong> UserName </strong>
    </div>
  </div>
</div>
