
.post-card {
  background-color: bisque;
  padding-top: 30px;
  margin: 30px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.moderatorClass{
  background: var(--orange-primary-very-light) !important;
}
.userClass{
  background-color: var(--grey);
}
.adminClass{
  background: var(--orange-primary-light) !important;
}

.add-comment{

  font-size:14px;
  width: 150px;
  background: white;
  color: black;
  border: 0;
  position:absolute;
  left: 300px;
  z-index: 1;
  height: 48px;

}

.add-comment:hover{
  background: whitesmoke;
}
.add-comment-expanded{
  margin-top:8px;
  transition: margin-top 225ms;
  background: white;
}
.add-comment-expanded:hover{
  background: white !important;
}

.delete-post-icon{
  position: absolute;
  right:5px;
  top:5px;
  color: red;
}
