<mat-card>
  <mat-card-title>Edit User Role</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>User Role</mat-label>
      <mat-select [(ngModel)]="selectedRole" name="role">
        <mat-option *ngFor="let option of roleTypes" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-card-footer>
</mat-card>
