.moderator-email{
  font-weight: 500;
  color: darkslategray;
  width: 350px;
}
.moderator-fname{
  width: 200px;
}
.moderator-lname{
  width: 200px;
}
.moderator-university{
  width: 300px;
}
.moderator-faculty{
  width: 300px;
}
.moderator-authorities{
  width: 150px;
}
.moderator-edit{
  width: 100px;
}
mat-list-item{
  height: 80px !important;
}
.moderator-button{
  width: 100px;
}
