<mat-card id="create-comment-mat-card">
  <mat-card-title style="margin-bottom: 20px">New comment</mat-card-title>
  <form>
    <mat-card-content>
      <mat-form-field class="new-comment-text" appearance="fill">
        <mat-label>
          Comment text
        </mat-label>
        <textarea matInput style="height: 40px"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" style="margin-left: 580px">Add comment</button>
    </mat-card-actions>
  </form>
</mat-card>
