<mat-card id="create-comment-mat-card">
  <mat-card-title style="margin-bottom: 20px">New comment</mat-card-title>
  <form #createCommentForm="ngForm" (ngSubmit)="createComment(createCommentForm)">
    <mat-card-content>
      <mat-form-field class="new-comment-text" appearance="fill">
        <mat-label>
          Comment text
        </mat-label>
        <textarea matInput #commentText="ngModel" name="commentText" rows ="5"  ngModel required minlength="5" maxlength="300"></textarea>
        <mat-error *ngIf="commentText.errors?.minlength"> Comment must be at least 5 characters long.</mat-error>
        <mat-error *ngIf="commentText.errors?.maxLength"> Comment must be at most 300 characters long.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" style="float:right;margin-left:10px;margin-bottom: 10px;">Add comment</button>
    </mat-card-actions>
  </form>
</mat-card>
