mat-list {
  width: 95%;
  margin:30px;
  background: white;
  border-radius: 10px;

}

.add-moderator-container {
  margin: 20px 20px 50px 30px;
}
.moderator-email{
  font-weight: 500;
  color: var(--white);
  width: 350px;
}
.moderator-fname{
  width: 200px;
}
.moderator-lname{
  width: 200px;
}
.moderator-university{
  width: 300px;
}
.moderator-faculty{
  width: 300px;
}
.moderator-authorities{
  width: 150px;
}
.moderator-edit{
  width: 100px;
}
mat-list-item{
  background: var(--orange-dark);
  color: var(--white) !important;
}

.moderator-container{
  margin:0px 50px ;
}

.add-moderator-button{
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  background: var(--orange-primary);
  color: var(--white)
}
