<div fxLayout="column" fxLayoutAlign="center center">
  <div  fxLayout="column" fxLayoutAlign="start start" class="moderator-container">
    <button mat-raised-button class="add-moderator-button" color="primary" (click)="addModerator()" >Add Moderator</button>
    <mat-list style="margin-top: 0px !important;">
      <mat-list-item>
        <span class="moderator-email">Email</span>
        <span class="moderator-fname">FirstName</span>
        <span class="moderator-lname">LastName</span>
        <span class="moderator-university">University</span>
        <span class="moderator-faculty">Faculty</span>
        <span class="moderator-edit">Edit </span>
      </mat-list-item>
      <app-admin-moderator (userListChanged)="onUserListChanged()" [moderator]="moderator"
                 *ngFor="let moderator of moderators"></app-admin-moderator>
    </mat-list>
  </div>
</div>
