<!--<div class="register-form">-->
<!--  <div class="card">-->
<!--    <h2 class="head py-2">Register</h2>-->
<!--    <form class="user-register">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Email</label>-->
<!--          <input type="email" class="form-control mb-2" id="inputEmail"-->
<!--                 placeholder="Enter Email"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Password</label>-->
<!--          <input type="password" class="form-control mb-2" id="inputPassword"-->
<!--                 placeholder="password"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>University</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputUniversity"-->
<!--                 placeholder="University"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Faculty</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputFaculty"-->
<!--                 placeholder="University"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>First Name</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputFirstName"-->
<!--                 placeholder="FirstName"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Last Name</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputLastName"-->
<!--                 placeholder="LastName"/>-->
<!--        </div>-->

<!--      </div>-->
<!--      <br>-->
<!--      <div class="buttons text-center">-->
<!--        <button class="btn-customBlue mr-2" type="submit">Register</button>-->
<!--        <button class="btn-customBlue mr-2" type="button" routerLink="/login">Cancel</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--</div>-->

<div fxLayout="column" fxLayoutAlign="center center" id="edit-user-div">
  <mat-card id="edit-user-mat-card">

    <mat-card-title>Edit User Info</mat-card-title>
    <form #editUserInfoForm="ngForm" (ngSubmit)="editUserInfoSubmit(editUserInfoForm)">
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            First Name
          </mat-label>
          <input matInput #firstName="ngModel" name="firstName" [ngModel]="user.firstName" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Last Name
          </mat-label>
          <input matInput #lastName="ngModel" name="lastName" [ngModel]="user.lastName" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            University
          </mat-label>
          <input matInput #university="ngModel" name="university" [ngModel]="user.university" required/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Faculty
          </mat-label>
          <input matInput #faculty="ngModel" name="faculty" [ngModel]="user.faculty" required/>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <!--      butoane-->
        <button mat-raised-button color="primary" type="submit" > Save</button>
        <button mat-raised-button color="primary" (click)="close()"> Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
