//.user-delete{
//  margin-left:15px;
//  margin-right:20px;
//}
//mat-icon {
//  margin: 0px 5px;
//  cursor: pointer;
//}
.user-email{
  font-weight: 500;
  color: darkslategray;
  width: 350px;
}
.user-fname{
  width: 200px;
}
.user-lname{
  width: 200px;
}
.user-university{
  width: 300px;
}
.user-faculty{
  width: 300px;
}
.user-authorities{
  width: 150px;
}
.user-edit{
  width: 100px;
}
mat-list-item{
  height: 80px !important;
}
.user-button{
  width: 100px;
}
