<div fxLayout="column" fxLayoutAlign="center center">
  <div  fxLayout="column" fxLayoutAlign="start start" class="admin-subjects-container">
    <div class="buttons-container">
      <button mat-raised-button class="add-subject-button, button--primary" (click)="addSubject()">Add Subject</button>
    </div>

    <mat-list style="margin-top: 0px !important;">
      <mat-list-item>
        <span class="subject-name">Name</span>
        <span class="subject-description">Description</span>
        <span class="subject-user">User Id</span>
      </mat-list-item>
      <app-admin-subject (subjectListChanged)="onSubjectListChanged()" [subject]="subject"
                         *ngFor="let subject of subjects"></app-admin-subject>
    </mat-list>
  </div>
</div>
