#login-form {
  /* text-align: center; */
  margin-top: 4%;
  margin-right:4%;
  margin-left:auto;
  padding: 60px;
  width: 500px;
}
#login-mat-card{
  width: 100%;
}
mat-form-field{
  width: 100%;
}


.card {
  padding: 20px;
  border: 1px solid #125266;
}
