<!--<div class="register-form">-->
<!--  <div class="card">-->
<!--    <h2 class="head py-2">Register</h2>-->
<!--    <form class="user-register">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Email</label>-->
<!--          <input type="email" class="form-control mb-2" id="inputEmail"-->
<!--                 placeholder="Enter Email"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Password</label>-->
<!--          <input type="password" class="form-control mb-2" id="inputPassword"-->
<!--                 placeholder="password"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>University</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputUniversity"-->
<!--                 placeholder="University"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Faculty</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputFaculty"-->
<!--                 placeholder="University"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>First Name</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputFirstName"-->
<!--                 placeholder="FirstName"/>-->
<!--        </div>-->
<!--        <div class="col-md-12 roundedTextBox mb-3">-->
<!--          <label>Last Name</label>-->
<!--          <input type="text" class="form-control mb-2" id="inputLastName"-->
<!--                 placeholder="LastName"/>-->
<!--        </div>-->

<!--      </div>-->
<!--      <br>-->
<!--      <div class="buttons text-center">-->
<!--        <button class="btn-customBlue mr-2" type="submit">Register</button>-->
<!--        <button class="btn-customBlue mr-2" type="button" routerLink="/login">Cancel</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->

<!--</div>-->

<div fxLayout="column" fxLayoutAlign="center center" id="register-form">
  <mat-card id="register-mat-card">

    <mat-card-title>Register</mat-card-title>
    <form>
      <mat-card-content>
        <mat-form-field>
          <mat-label>
            Email
          </mat-label>
          <input type="email" matInput/>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>
            Password
          </mat-label>
          <input type="password" matInput/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            University
          </mat-label>
          <input matInput/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Faculty
          </mat-label>
          <input matInput/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            First Name
          </mat-label>
          <input matInput/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Last Name
          </mat-label>
          <input matInput/>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <!--      butoane-->
        <button mat-raised-button color="primary" routerLink="/login" type="submit"> Register</button>
        <button mat-raised-button color="primary" routerLink="/login"> Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
