.moderatorClass{
  background: var(--orange-primary-very-light) !important;
}
.userClass{
  background: var(--grey) !important;
}
.adminClass{
  background: var(--orange-primary-light) !important;
}

.delete-comment-icon{
  position: absolute;
  right:5px;
  top:5px;
  color: red;
}

mat-card{
  background-color: #2B90D9;
  width: 650px;
  justify-content: center;
  align-items: center;
}

