<mat-card [ngClass]="{'userClass': (comment.commentType==userType),
            'moderatorClass': (comment.commentType==moderatorType),
            'adminClass':(comment.commentType==adminType)}">
  <mat-icon *ngIf="loggedInUserHasAuthority()" matTooltip="Delete post" (click)="deleteComment()" class="delete-comment-icon">cancel</mat-icon>
  <mat-card-subtitle>
    <div style="display: flex; justify-content: space-between;">
      <div style="display: flex;">
        <img mat-card-avatar [src]="comment.profileImage">
        <p style="margin-left: 10px; margin-top: 10px">{{comment.email}}</p>
      </div>
      <p style="margin-right: 20px; margin-top: 10px">{{dateComment}}</p>
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <p style="margin-left: 80px; margin-right: 80px; margin-bottom: 25px; justify-content: center" >{{comment.text}}</p>
    <mat-divider *ngIf="showFilesButton" style="margin-top: 20px;"></mat-divider>
    <button *ngIf="showFilesButton" mat-raised-button (click)="openBottomSheet()" class="filesButton" style="margin-top: 40px;">{{filesNames.length}} files attached</button>
  </mat-card-content>
</mat-card>
