mat-card {
  margin: 30px;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
}

img {
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}
