<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="10">
    <button type="button" mat-raised-button (click)="emitDrawerToggle()" class="subjects-button">
      Subjects
    </button>

  </div>
  <div fxFlex="80">

    <div class="div-post">

      <app-create-post *ngIf="inPostSubject" [subjectId]="currentSubjectId"
                       (refreshPosts)="refreshPosts()"></app-create-post>
      <button type="button" mat-raised-button (click)="usersList()" class="users-button"
              *ngIf="inPostSubject">
        Users
      </button>
      <app-post-list [postList]="postList" (refreshPostList)="refreshPosts()"></app-post-list>
    </div>
  </div>
</div>

<!--style="margin-left:130px; margin-top:50px"-->
