<div fxLayout="row" fxLayoutAlign="start start">
  <div fxFlex="10">
    <button type="button" mat-raised-button (click)="emitDrawerToggle()" class="subjects-button">
      Subjects
    </button>

  </div>
  <div fxFlex="80">
    <div style="height:1300px;padding-top:200px;" *ngIf="!inPostSubject" fxLayout="column" fxLayoutAlign="start center">
      <div class="paragraph-div"><h1>Hello {{this.authenticationService.getUserEmailFromToken()}} !!</h1></div>
      <div class="paragraph-div"><h1>Check what's new in the subjects you have enrolled.</h1></div>
      <div class="paragraph-div"><h1>If you want to sign up to extra courses, go to the Account page!</h1></div>
    </div>
    <div class="div-post">
      <h1 style="margin-left: 40px;margin-top: 50px;margin-bottom: 50px;font-size: 40px" *ngIf="inPostSubject">{{subject.name}}</h1>

      <app-create-post *ngIf="inPostSubject" [subjectId]="currentSubjectId"
                       (refreshPosts)="refreshPosts()"></app-create-post>
      <div *ngIf="inPostSubject" style="margin-left: auto;margin-right:auto; " fxLayout="column" fxLayoutAlign="space-between center">
        Check the users enrolled in this subject:
        <button type="button" mat-raised-button (click)="usersList()" class="users-button"
                >
          Users
        </button>
      </div>
      <app-post-list [postList]="postList" (refreshPostList)="refreshPosts()" *ngIf="inPostSubject"></app-post-list>
    </div>
  </div>
</div>

<!--style="margin-left:130px; margin-top:50px"-->
